@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        background-color: pink;
    }

    h1 {
        color: black;
        font-style: italic;
    }

    p {
        color: white;
        font-style: italic;
    }

    .logo-image {
        display: block;
        margin: 20px auto;
        max-width: 200px;
    }
</style>

<h1>Welcome to Home Page</h1>

<br />
<br />

<p>Logged by: @ViewData["user"]</p>

